* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project {
  padding: 2rem;
  /* padding-left: 2rem; */
  margin: 2rem auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #eee;
  /* width: 100%; */
  border-bottom: 3px solid #333;
}
h2 {
  color: crimson;
  margin-bottom: 1rem;
}

.project:hover {
  background-color: #ccc;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h5 {
  margin-top: 1rem;
}
